---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex flex-col gap-8 text-center max-w-xl">
    <p>
      Licenciada en Periodismo por la Facultad de Ciencias Sociales y de la
      Comunicación del Pais Vasco. Me fui a vivir a Bayonne, localidad del sur
      de Francia, donde realicé durante varios años diferentes cursos de artes
      plásticas en la Ecole Supérieure d’Art Pays Basque. Actualmente curso el
      grado de Historia del Arte en la UNED. Miembro de la Asociación Española
      de Pintores y Escultores, de la Asociación Artística Vizcaína y del
      proyecto solidario Encontrarte. Obras en colecciones privadas nacionales e
      internacionales.
    </p><p>
      Utilizo la técnica de la pintura al óleo sobre diversos soportes como el
      lienzo, la madera o el papel. Estilo realista contemporáneo y a veces con
      cierta influencia expresionista. Tanto el color como el dibujo tienen su
      lugar en mi obra. A veces utilizo la pincelada detallada, otras veces es
      la mancha de color la que imagina la forma. Esto influye en la diferente
      percepción de la obra vista de cerca o de lejos. Mi temática es variada
      sin olvidar nunca una referencia a la realidad representada, que puede ir
      desde el paisaje marino hasta la figuración. Los mares y los seres son los
      que determinan la paleta. Desde las diferentes tonalidades azuladas de los
      paisajes marinos hasta un cromatismo más rico y diverso en las obras donde
      la figura humana es la protagonista.
    </p>
  </div>
</MainLayout>
