---
import Gallery from "@/components/base/Gallery.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { GalleryMedia } from "@/types";

// MAR
import acantilado from "#/mar/acantilado.jpg";
import algo from "#/mar/algo.jpg";
import cielo from "#/mar/cielo.jpg";
import costera from "#/mar/costera.jpg";
import emociona from "#/mar/emociona.jpg";
import esto from "#/mar/esto.jpg";
import pesca from "#/mar/pesca.jpg";
import telmo from "#/mar/telmo.jpg";
import sueno from "#/mar/sueno.jpg";
import bella from "#/mar/bella.jpg";
import momento from "#/mar/momento.jpg";
import paisaje from "#/mar/paisaje.jpg";
import espacio from "#/mar/espacio.jpg";
import noSoloAzul from "#/mar/noSoloAzul.png";
import profundo from "#/mar/profundo.jpg";
import mirando from "#/mar/mirando.jpg";
import paseo from "#/mar/paseo.jpg";
import sokoa from "#/mar/sokoa.jpg";
import resplando from "#/mar/resplando.jpg";
import agitada from "#/mar/agitada.jpg";
import ojala from "#/mar/ojala.jpg";
import paseando from "#/mar/paseando.jpg";
import cualquier from "#/mar/cualquier.jpg";

// SERES
import aptitud from "#/seres/aptitud.jpg";
import arrantzal from "#/seres/arrantzal.jpg";
import espalda from "#/seres/espalda.jpg";
import mar from "#/seres/mar.jpg";
import labores from "#/seres/labores.jpg";
import pienses from "#/seres/pienses.jpg";
import redes from "#/seres/redes.jpg";
import telmo2 from "#/seres/telmo.jpg";
import ventana from "#/seres/ventana.jpg";
import dividido from "#/seres/dividido.jpg";
import equilibrio from "#/seres/equilibrio.jpg";
import avanza from "#/seres/avanza.jpg";
import admiracion from "#/seres/admiracion.jpg";
import volando from "#/seres/volando.jpg";
import delfin from "#/seres/delfin.jpg";
import orilla from "#/seres/orilla.jpg";

// ASFALTO
import guggenIII from "#/asfalto/guggenIII.jpg";
import guggenIV from "#/asfalto/guggenIV.jpg";
import libros from "#/asfalto/libros.jpg";
import pinceladas from "#/asfalto/pinceladas.jpg";
import obispo from "#/asfalto/obispo.jpg";

const marList: GalleryMedia[] = [
  {
    image: algo,
    title: "Algo de mar y mucho de cielo.",
    size: "100x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: costera,
    title: "Costera en rojo.",
    size: "55x46cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: emociona,
    title: "Cuando la mar emociona.",
    size: "65x81cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: acantilado,
    title: "Dejas atrás el acantilado.",
    size: "120x40cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: esto,
    title: "Esto es el mar.",
    size: "65x81cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: pesca,
    title: "Hay pesca.",
    size: "40x40cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: cielo,
    title: "Tu en el cielo.",
    size: "65x81cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: telmo,
    title: "Para ti, Telmo.",
    size: "92x60cm",
    technique: "Oleo sobre madera",
  },
  {
    image: sueno,
    title: "El sueño azul se repite.",
    size: "65x50cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: momento,
    title: "El mejor momento del dia.",
    size: "28x77cm",
    technique: "Oleo sobre madera",
  },
  {
    image: bella,
    title: "La Bella Easo.",
    size: "100x160cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: espacio,
    title: "Ocupa tu espacio.",
    size: "100x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: paisaje,
    title: "Paisaje de mis sueños.",
    size: "100x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: noSoloAzul,
    title: "El mar no es solo azul.",
    size: "65X81cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: profundo,
    title: "En un mar profundo.",
    size: "73x50cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: mirando,
    title: "Mirando al mar.",
    size: "54x130cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: paseo,
    title: "Paseo por las nubes en busqueda de tu imagen.",
    size: "100x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: sokoa,
    title: "Sokoa.",
    size: "80x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: agitada,
    title: "Agua agitada.",
    size: "73x50cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: resplando,
    title: "Un resplando.",
    size: "73x50cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: ojala,
    title: "Ojala.",
    size: "",
    technique: "Oleo sobre lienzo",
  },
  {
    image: paseando,
    title: "Paseando por la ola, 2025",
    size: "40x160cm",
    technique: "Óleo sobre lienzo",
  },
  {
    image: cualquier,
    title: "En cualquier lugar del mundo, 2025",
    size: "54x65cm",
    technique: "Óleo sobre lienzo",
  },
];

const seresList: GalleryMedia[] = [
  {
    image: aptitud,
    title: "La aptitud.",
    size: "150x50cm",
    technique: "Oleo sobre tabla",
  },
  {
    image: equilibrio,
    title: "En equilibrio.",
    size: "73x50cm",
    technique: "Oleo sobre tabla",
  },
  {
    image: volando,
    title: "Volando hacia el sol sin ser un Icaro, 2025",
    size: "97x129cm",
    technique: "Óleo sobre lienzo",
  },
  {
    image: labores,
    title: "Labores marineras.",
    size: "100x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: arrantzal,
    title: "El ultimo arrantzal.",
    size: "30x40cm",
    technique: "Oleo sobre papel",
  },
  {
    image: mar,
    title: "Cuando la mar te atrapa II.",
    size: "30x40cm",
    technique: "Oleo sobre papel",
  },
  {
    image: dividido,
    title: "Mar dividido.",
    size: "70x50cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: redes,
    title: "Redes marineras.",
    size: "28x77.5cm",
    technique: "Oleo sobre madera",
  },
  {
    image: espalda,
    title: "Espalada marinera.",
    size: "28x77.5cm",
    technique: "Oleo sobre madera",
  },
  {
    image: delfin,
    title: "En busca del delfín, 2025.",
    size: "60x92cm",
    technique: "Oleo sobre tabla",
  },
  {
    image: pienses,
    title: "No pienses mas nada en tu imaginacion.",
    size: "147x90cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: orilla,
    title: "Tu orilla siempre estará presente, 2025.",
    size: "120x60cm",
    technique: "Oleo sobre tabla",
  },
  {
    image: avanza,
    title: "Con pausa o sin pausa, avanza.",
    size: "100x80cm",
    technique: "Acrilico y oleo sobre lienzo",
  },
  {
    image: telmo2,
    title: "Telmo.",
    size: "120x120cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: ventana,
    title: "La ventana.",
    size: "120x120cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: admiracion,
    title: "Expresar admiracion.",
    size: "100x100cm",
    technique: "Oleo sobre tabla",
  },
];

const asfaltoList: GalleryMedia[] = [
  {
    image: guggenIII,
    title: "Guggen III.",
    size: "60x60cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: guggenIV,
    title: "Guggen IV.",
    size: "60x60cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: libros,
    title: "Libros de papel.",
    size: "54x65cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: pinceladas,
    title: "Pinceladas de una madre.",
    size: "60x80cm",
    technique: "Oleo sobre lienzo",
  },
  {
    image: obispo,
    title: "En la Plaza del Obispo.",
    size: "100x50cm",
    technique: "Oleo sobre lienzo",
  },
];
---

<MainLayout>
  <div class="flex flex-col gap-16">
    <Gallery medias={marList} title="Mar" />
    <Gallery medias={seresList} title="Seres" />
    <Gallery medias={asfaltoList} title="Asfalto" />
  </div>
</MainLayout>
