---

---

<header class="flex justify-between py-2 px-8">
  <a href="/"><div class="text-xl font-bold">R.U.</div></a>
  <nav class="flex flex-col gap-1 text-right">
    <a href="/">Gallery</a>
    <a href="/about">Sobre Mi</a>
  </nav>
</header>
